# 12. List,Tuples,Set and Dictionaries

In Python, lists, tuples, sets, and dictionaries are collectively referred to as "data structures" or "data types". Each of these structures has its own characteristics and is used for different purposes:

- **Lists**: Lists are ordered collections of items. They are mutable, meaning their elements can be modified after the list is created. Lists are created using square brackets `[ ]`.

- **Tuples**: Tuples are similar to lists but are immutable, meaning their elements cannot be changed after the tuple is created. Tuples are created using parentheses `( )`.

- **Sets**: Sets are unordered collections of unique elements. They do not allow duplicate elements. Sets are mutable, and they are created using curly braces `{ }` or the `set()` constructor.

- **Dictionaries**: Dictionaries are collections of key-value pairs. They are unordered, mutable, and each key in a dictionary must be unique. Dictionaries are created using curly braces `{ }`, with key-value pairs separated by colons `:`.

These data structures are fundamental to Python programming and are used extensively in various applications.

## 1. List
 Lists are used to store multiple items in a single variable.To separate two items, you use a comma ( , ) . List uses the square brackets [ ]. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

   - Sequence Type
   - Element of the list can access by index
   - They are mutable

In [1]:
sample_list = [1, 2, 3, 4, 5]

In [2]:
sample_list

[1, 2, 3, 4, 5]

In [3]:
print(type(sample_list)) # Check the type

<class 'list'>

In [4]:
# Changing the elements in list because it is mutable
sample_list[0] = 100 # sample_list[0] 0th index upto n-1
print(sample_list)

[100, 2, 3, 4, 5]

### Slicing operation

In [5]:
print("Slicing Operation")
print(sample_list[1])
print(sample_list[-1])
print(sample_list[0:3])
print(sample_list[2:])
print(sample_list[:3])

Slicing Operation
2
5
[100, 2, 3]
[3, 4, 5]
[100, 2, 3]

In [6]:
# Check the type
print(type(sample_list))
print(sample_list[0], " type is ", type(sample_list[0]))
print(sample_list[1], " type is ", type(sample_list[1]))
print(sample_list[2], " type is ", type(sample_list[2]))
print(sample_list[3], " type is ", type(sample_list[3]))
print(sample_list[4], " type is ", type(sample_list[4]))

<class 'list'>
100  type is  <class 'int'>
2  type is  <class 'int'>
3  type is  <class 'int'>
4  type is  <class 'int'>
5  type is  <class 'int'>

In [7]:
sample_list[2] = True
sample_list[1] = 'Hello'
# Check the type
print(type(sample_list))
print(sample_list[0], " type is ", type(sample_list[0]))
print(sample_list[1], " type is ", type(sample_list[1]))
print(sample_list[2], " type is ", type(sample_list[2]))
print(sample_list[3], " type is ", type(sample_list[3]))
print(sample_list[4], " type is ", type(sample_list[4]))

<class 'list'>
100  type is  <class 'int'>
Hello  type is  <class 'str'>
True  type is  <class 'bool'>
4  type is  <class 'int'>
5  type is  <class 'int'>

### Some Other Operations

In [8]:
# Clear() all the elements in the list
sample_list = [10, 25, 35, 45]
print(sample_list)
sample_list.clear() # Clear all the elements and make empty list
print(sample_list)

[10, 25, 35, 45]
[]

In [9]:
# Copy the list using copy()
sample_list = [10, 25, 35, 45]
sample_list_01 = sample_list.copy() # Copy the list
print(sample_list_01)

[10, 25, 35, 45]

In [10]:
# Some other functions
sample_list = [10, 25, 35, 45, 25, 4, 25]
print(sample_list.count(25))
print(sample_list.index(25))
print(len(sample_list))
print(max(sample_list))
print(min(sample_list))
print(sample_list)

3
1
7
45
4
[10, 25, 35, 45, 25, 4, 25]

In [11]:
# Pop and remove function
a = [10, 25, 35, 45, 25, 4, 25]
a.pop(0)  # remove Element using index
print(a)
a = [10, 25, 35, 45, 25, 4, 25]
a.remove(25)  # remove the first occurrence value
print(a)

[25, 35, 45, 25, 4, 25]
[10, 35, 45, 25, 4, 25]

In [12]:
# Add elements in the list using append function
names = ["Najim"]
print(names)
names.append("Rashid")
names.append("Useth")
names.append("Rahuman")
print(names)

['Najim']
['Najim', 'Rashid', 'Useth', 'Rahuman']

In [13]:
# extend function used to append another list in existing list
name2 = ["Salman", "Ali"]
names.extend(name2) 
print(names)

['Najim', 'Rashid', 'Useth', 'Rahuman', 'Salman', 'Ali']

In [14]:
# insert function used to add the element in the particular index in the list
names.insert(0,"Malik")
print(names)

['Malik', 'Najim', 'Rashid', 'Useth', 'Rahuman', 'Salman', 'Ali']

In [15]:
print(list(range(5)))
print(list("Hello"))

[0, 1, 2, 3, 4]
['H', 'e', 'l', 'l', 'o']

In [16]:
# Repetation
sample_list = ['Ali']*10 
sample_list

['Ali', 'Ali', 'Ali', 'Ali', 'Ali', 'Ali', 'Ali', 'Ali', 'Ali', 'Ali']

### Sorting Operation

In [17]:
sample_list=[10,50,100,25,85]
print(sample_list)
sample_list.sort()
print(sample_list) # Sorting ascending order
sample_list.sort(reverse=True) # Sorting descending order
print(sample_list)

sample_list=["Orange","Apple","Zebra"]
sample_list.sort()
print(sample_list) # Sorting ascending order based on alphabet
sample_list.sort(reverse=True)
print(sample_list) # Sorting descending order based on alphabet

sample_list=["Orange","Apple","Zebra"]
sample_list.sort(key=len) 
print(sample_list) # Sorting based on key

sample_list.sort(key=min) 
print(sample_list) # Sorting based on key

[10, 50, 100, 25, 85]
[10, 25, 50, 85, 100]
[100, 85, 50, 25, 10]
['Apple', 'Orange', 'Zebra']
['Zebra', 'Orange', 'Apple']
['Apple', 'Zebra', 'Orange']
['Apple', 'Orange', 'Zebra']

## 2.Tuple
Tuple are used to store multiple items in a single variable.To separate two items, you use a comma ( , ) . A tuple is like a list except that it uses parentheses ( ) . Once you define a tuple, you can access an individual element by its index. A tuple is a collection of objects which ordered and immutable, you cannot change its elements. Tuples are sequences, just like lists. 

- Tuple in Python
- Immutable
- Surrounded by Round Brackets ()

In [18]:
# Some operation on tuple same as list 
a = (1, 2.5, True, "lathif")
print(a)
print(type(a))
print(a[1])
print(a[-1])
print(a[0:2])
b = list(a)
print(b)
b.append("jasim")
print(b)
print(type(b))
a = tuple(b)
print(a)
print(type(a))

(1, 2.5, True, 'lathif')
<class 'tuple'>
2.5
lathif
(1, 2.5)
[1, 2.5, True, 'lathif']
[1, 2.5, True, 'lathif', 'jasim']
<class 'list'>
(1, 2.5, True, 'lathif', 'jasim')
<class 'tuple'>

In [19]:
# Iterate and extract the value from tuple
for i in a:
    print(i)

1
2.5
True
lathif
jasim

In [20]:
# Check the element present in the list or not
if "Useth" in a:
    print("Useth is Found")
else:
    print("Not Found")

Not Found

In [21]:
print(len(a))

5

In [22]:
a = (1) # This is not considered as tuple
print(type(a))

a = (1,) # This is considered as tuple
print(type(a))

<class 'int'>
<class 'tuple'>

In [23]:
del a # delete the tuple

In [24]:
a = (1, 2, 7, 4)
b = (5, 6, 7, 8)
c = a + b # Concatenate the two tuple

In [25]:
c

(1, 2, 7, 4, 5, 6, 7, 8)

In [26]:
print(c.count(7)) # return the occurrence of the given element

2

### Nested Tuples

In [27]:
a = (1, 2, 7, 4)
b = (5, 6, 7, 8)
c = (a, b)

In [28]:
c

((1, 2, 7, 4), (5, 6, 7, 8))

In [29]:
# Accessing elements in tuples
print(c)
print(c[0])
print(c[1])
print(c[0][1])

((1, 2, 7, 4), (5, 6, 7, 8))
(1, 2, 7, 4)
(5, 6, 7, 8)
2

In [30]:
# Repetation
x = ('Kather',) * 5
print(x)

('Kather', 'Kather', 'Kather', 'Kather', 'Kather')

In [31]:
# Min Max functions
a = (1, 2, 7, 4)
b = (5, 6, 7, 8)
print(min(a))
print(max(a))

1
7

## 3.Set
Set are used to store multiple items in a single variable. To separate two items, you use a comma ( , ) . A set is like a list except that it uses parentheses { } . Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage. 

   - Set are unordered
   - A set doesn’t allow duplicate elements
   - Set cannot be changed

In [32]:
names={'Kather','Ali','Jasim'}
print(names)
print(type(names))

{'Kather', 'Ali', 'Jasim'}
<class 'set'>

In [33]:
# Access Values Using For loop
for name in names:
    print(name)

Kather
Ali
Jasim

In [34]:
# Adding New Element
names.add('Useth')
print(names)

{'Kather', 'Ali', 'Jasim', 'Useth'}

In [35]:
# Update Another Set of Data
names1={'Najim','Anwar','Javid'}
names.update(names1)
print(names)

{'Kather', 'Ali', 'Najim', 'Anwar', 'Javid', 'Jasim', 'Useth'}

### discard(element):
   - This method removes the specified element from the set if it is present.
   - If the element is not present in the set, discard() does nothing and does not raise any error.
   - It's safe to use discard() even if the element might not be in the set, as it won't cause an error.

### remove(element):
   - This method also removes the specified element from the set if it is present.
   - If the element is not present in the set, remove() raises a KeyError.
   - It's important to ensure that the element is in the set before using remove() to avoid raising an error.

In [36]:
names.remove('Javid')
print(names)

{'Kather', 'Ali', 'Najim', 'Anwar', 'Jasim', 'Useth'}

In [37]:
names.discard('Kather')
print(names)

{'Ali', 'Najim', 'Anwar', 'Jasim', 'Useth'}

In [38]:
names.pop() # Remove the first element work like a stack FIFO
print(names)
names.clear() # Remove the all elements in the set 
print(names)

{'Najim', 'Anwar', 'Jasim', 'Useth'}
set()

In [39]:
del names # delete the name set and name variable

In [40]:
a = {1, 2, 3, 4}
b = {'a', 'b', 'c', 'd',3}

In [41]:
# Union
c = a.union(b)
print(c)

{1, 2, 3, 4, 'a', 'd', 'b', 'c'}

In [42]:
# Intersection
a.intersection(b)

{3}

In [43]:
a

{1, 2, 3, 4}

### intersection():
   - This method returns a new set containing elements that are common to all sets involved in the operation.
   - It does not modify the original sets; instead, it creates and returns a new set containing the result.

### intersection_update():
   - This method modifies the set on which it is called to contain only the elements that are common to all sets involved in the operation.
   - It updates the set in place, removing elements that are not common to all sets.
   - Unlike intersection(), it does not return a new set; instead, it modifies the set on which it is called.

In [44]:
a.intersection_update(b)
print(a)

{3}

In [45]:
a # calling 'a' set(change inplace)

{3}

In [46]:
# Update elements in the set
x = {3,2,4,7}
y = {1,9,2,8}

x.update(y)
x

{1, 2, 3, 4, 7, 8, 9}

In [47]:
# Symmeteric difference
c=a.symmetric_difference(b)
print(c)
a.symmetric_difference_update(b)
print(a)

{'b', 'a', 'd', 'c'}
{'a', 'b', 'c', 'd'}

### isdisjoint(): 
This method checks if two sets have no elements in common. It returns True if the sets are disjoint (i.e., they have no common elements), otherwise, it returns False.

### issubset(): 
This method checks whether all elements of a set are present in another set. It returns True if all elements of the set are present in the other set, otherwise, it returns False.

### issuperset(): 
This method is the inverse of issubset(). It checks whether all elements of another set are present in a given set. It returns True if all elements of the other set are present in the given set, otherwise, it returns False.

In [48]:
a = {5,6,7}
b = {5,6,7}
c=a.isdisjoint(b)
print(c)
c=a.issubset(b)
print(c)
c=a.issuperset(b)
print(c)

False
True
True

## 4.Dictionary
 A Python dictionary is a collection of key-value pairs where each key is associated with a value. dictionary are used to store multiple items in a single variable. To separate two items, you use a comma ( , ) . A dictionary is like a list except that it uses parentheses { key : value } .

- They are Immutable
- A set doesn’t allow duplicate elements
- The key cannot be changed

In [49]:
user = {
    "name": "Kather",
    "age": 21,
    "isMarried": False
}

In [50]:
print(user)
print(type(user))
print(user["name"])
print(user.get('age'))
print(user.keys())
print(user.values())
print(user.items())

{'name': 'Kather', 'age': 21, 'isMarried': False}
<class 'dict'>
Kather
21
dict_keys(['name', 'age', 'isMarried'])
dict_values(['Kather', 21, False])
dict_items([('name', 'Kather'), ('age', 21), ('isMarried', False)])

In [51]:
# Accessing keys and values 
for x in user:
    print(x," ",user[x])

name   Kather
age   21
isMarried   False

In [52]:
# Accessing the values
for x in user.values():
    print(x)

Kather
21
False

In [53]:
# Accessing the keys
for x in user.keys():
    print(x)

name
age
isMarried

In [54]:
user.items()

dict_items([('name', 'Kather'), ('age', 21), ('isMarried', False)])

In [55]:
for x,y in user.items():
    print(x,y)

name Kather
age 21
isMarried False

In [56]:
# Check the key present in dictionary
if "gender" in user:
    print("Present")
else:
    print("Not Present")

Not Present

In [57]:
# Updating the Values

user.update({"gender":"male"})
print(user)

{'name': 'Kather', 'age': 21, 'isMarried': False, 'gender': 'male'}

In [58]:
# changing the values
user['age'] = 25
user

{'name': 'Kather', 'age': 25, 'isMarried': False, 'gender': 'male'}

In [59]:
# pop and clear function
user.pop("age")
print(user)

user.clear() # make dictionary empty or delete the keys and values
print(user)

{'name': 'Kather', 'isMarried': False, 'gender': 'male'}
{}

### Nested Dictionaries

In [60]:
users = {
    "user1": {
        "name": "Kather",
        "age": 25,
        "isMarried": True
    },
    "user2": {
        "name": "Najim",
        "age": 18,
        "isMarried": False
    }
}

In [61]:
users

{'user1': {'name': 'Kather', 'age': 25, 'isMarried': True},
 'user2': {'name': 'Najim', 'age': 18, 'isMarried': False}}

In [62]:
# Accessing the values
print(users['user1']['name'])
print(users['user2']['name'])

Kather
Najim

In [63]:
# Accessing the keys and values
for user in users:
    print(users[user])

{'name': 'Kather', 'age': 25, 'isMarried': True}
{'name': 'Najim', 'age': 18, 'isMarried': False}

#### Prepared By,
Ahamed Basith