## Some types patterns

### 1.Number Triangle

In [1]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 2.Alphabet Triangle

In [2]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print(" ")

A
A B
A B C
A B C D
A B C D E

### 3.Star Triangle Pattern

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print("* ",end="")
    print(" ")

*
* *
* * *
* * * *
* * * * *

### 4.Number triangle with repeating numbers

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### 5.Alphabet triangle with repeating alphabet

In [5]:
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print(" ")

A
B B
C C C
D D D D
E E E E E

### 6.Right-aligned pyramid

In [6]:
k = 8
n = 5
for i in range(0,n):
    for j in range(0,k):
        print("",end=" ")
    k = k - 2
    
    for j in range(0,i+1):
        print("* ",end="")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

### 7.Number triangle with right alignment

In [7]:
n=5
k = 8
for i in range(0, n):
    for j in range(0, k):
        print("",end=" ")
    k = k - 1
    x = 1
    for j in range(0, i + 1):
        print(x, end=" ")
        x += 1
    print()

        1
       1 2
      1 2 3
     1 2 3 4
    1 2 3 4 5

### 8.Alphabet triangle with right alignment

In [8]:
n=5
k = 8
for i in range(0, n):
    for j in range(0, k):
        print("",end=" ")
    k = k - 1
    x = 65
    for j in range(0, i + 1):
        print(chr(x), end=" ")
        x += 1
    print()

        A
       A B
      A B C
     A B C D
    A B C D E

### 9.Star pattern triangle with right alignment

In [9]:
n=5
k = 8
for i in range(0, n):
    for j in range(0, k):
        print("",end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print()

        *
       * *
      * * *
     * * * *
    * * * * *

### 10.Inverted Triangle

In [10]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(0, rows - i):
        print(" ", end="")
    for j in range(0, i):
        print("*", end=" ")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

### 11.Number triangle with right alignment

In [11]:
n=5
k = 8
x = 0
for i in range(0, n):
    x += 1
    for j in range(0, k):
        print("",end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print(x, end=" ")
    print()

        1
       2 2
      3 3 3
     4 4 4 4
    5 5 5 5 5

### 12.Alphabet triangle with right alignment

In [12]:
n=5
k = 8
x = 64
for i in range(0, n):
    x += 1
    for j in range(0, k):
        print("",end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print(chr(x), end=" ")
    print()

        A
       B B
      C C C
     D D D D
    E E E E E

### 13.Number Pattern reverse right triangle

In [13]:
rows=5
for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")    
    print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### 14.Number Pattern reverse right triangle

In [14]:
rows = 6
for i in range(0, rows):
    for j in range(rows-1, i, -1):
        print(j,  end=" ")    
    print('')

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

### 15.Right Triangle Star Pattern

In [15]:
rows=5
for i in range(1,rows+1):
    for j in range(1,i+1):
        print("*" ,end= " ")
    print("")
for i in range(rows, 0, -1):
    for j in range(1, i):
        print("*", end=" ")    
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 16.Right Triangle Reverse Star Pattern

In [16]:
n=5
k = 8
for i in range(0, n-1):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        print("* ", end="")
    print(" ")
k = -1
for i in range(n-1,-1,-1):
    for j in range(k,-1,-1):
        print(end=" ")
    k = k + 2
    for j in range(0, i + 1):
        print("* ", end="")
    print(" ")

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

### 17.Diamond Star Pattern Followed by a lower triangle and upper triangle

In [17]:
rows=5
for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print("*", end=" ")    
    print("")
for i in range(2,rows+1):
    for j in range(1,i+1):
        print("*" ,end= " ")
    print("")

* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

### 18.Diamond Cut Pattern

In [18]:
n=5
k = 8
for i in range(0, n):
    for j in range(0, k):
        print("",end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print()
rows = 5

for i in range(rows, 0, -1):
    for j in range(0, rows - i):
        print(" ", end="")
    for j in range(0, i):
        print("*", end=" ")
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
* * * * *
 * * * *
  * * *
   * *
    *

### 19.Improper Diamond Star pattern

In [19]:
n = 5
k = 8

# Upper half of the diamond
for i in range(0, n):
    for j in range(0, k):
        print(" ", end="")
    k = k - 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print()

# Lower half of the diamond
rows = 4
k = 8 - n  # Resetting k value for lower half

for i in range(rows, 0, -1):
    for j in range(0, k):
        print(" ", end="")
    k = k + 1
    for j in range(0, i):
        print(" *", end="")
    print(" ")

        *
       * *
      * * *
     * * * *
    * * * * *
    * * * *
     * * *
      * *
       *

### 20.Proper Diamond Pattern

In [20]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for k in range(2 * i + 1):
        print("*", end="")
    print()
for i in range(1,n):
    for j in range(i):
        print(" ", end="")
    for j in range(2*(n-i)-1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

#### Prepared By,
Ahamed Basith